h1, h2, ul, img, header {
	margin: 0;
	padding: 0;
}

body {
	color: #4e4b4b;
	font-family: 'PT Serif', serif, Arial;
	margin-left: 100px;
}

header {
}

header h1 {
	font-size: 4em;
	float: left;
	line-height: 130px;
}

header img 
{
	float: left;
	margin-right: 30px;
	max-width: 150px;
	max-height: 150px;
}

ul {
	list-style-type: none;
	margin-top: 50px;
}

ul li {
	margin-bottom: 20px;
}

ul li .fail, ul li .success {
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	float: left;
	height: 70px;
	margin-right: 45px;
	width: 70px;
}

ul li .fail {
	background-color: #a21c1c;
	border: 1px solid #a21c1c;
}

ul li .success {
	background-color: #146906;
	border: 1px solid #146906;
}

ul li .detail {
	float: left;
}

ul li .detail h1 {
	font-size: 1.5em;
	margin-bottom: 5px;
}

ul li .detail h2 {
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}

.clear {
	clear: both;
}
