<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PETER-PC"
         connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;database=Doberman_Tests"
         providerName="System.Data.SqlClient" />

    <add name="server5345"
         connectionString="Data Source=(local);Integrated Security=True;database=Doberman_Tests" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="MongoServer" value="mongodb://localhost/" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>